<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <ul>
          <li><h4>Get to Know Us</h4></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Press</a></li>
          <li><a href="#">Developers</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul>
          <li><h4>Follow Etsy</h4></li>
          <li><a href="#"><i class="fa fa-facebook-square fa-lg"></i> Facebook</a></li>
          <li><a href="#"><i class="fa fa-twitter-square fa-lg"></i> Twitter</a></li>
          <li><a href="#"><i class="fa fa-pinterest-square fa-lg"></i> Pinterest</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
