<div class="footer">
  <div class="container">
    <div class="row">
        <ul>
          <li><h4>get to know us</h4></li>
      <div class="col-md-2">
          <li><a href="#">about</a></li>
          <li><a href="#">careers</a></li>
          <li><a href="#">press</a></li>
          <li><a href="#">developers</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul>
          <li><h4>follow etsy</h4></li>
          <li><a href="#"><i class="fa fa-facebook-square fa-lg"></i> facebook</a></li>
          <li><a href="#"><i class="fa fa-twitter-square fa-lg"></i> twitter</a></li>
          <li><a href="#"><i class="fa fa-pinterest-square fa-lg"></i> pinterest</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
