<!--=== Top ===-->
<div class="browse">
  <div class="container">
    <ul>
      <li>art</li>
      <li>home &amp; living</li>
      <li>jewelry</li>
      <li>books &amp; music</li>
      <li>women</li>
      <li>men</li>
      <li>kids</li>
      <li>vintage</li>
      <li>weddings</li>
      <li>crafts</li>
    </ul>
  </div>
</div>

<div class="top">
  <div class="container">
    <div class="logo">
      <img src="https://www.etsy.com/assets/dist/images/etsylogo.20140703190113.png">
    </div>
    <div>
      <ul class="header-nav">
        <li class="account">
          <div class="cart pull-right">
            <div class="fa fa-shopping-cart fa-2x">
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
